header{
    background: rgb(229, 240, 240);
    text-align: center;
}

header a{
    text-decoration: none;
    color: blue;
    display: inline-block;
    padding: 15px 25px;
}

header a.active{
color: black;
}

header.dark {
    background-color: #333;
    color: #fff;
}

header.dark a{
    color: #aaa
}

header.dark a.activ{
    color: #fff;
}

.ShoppingBasketIcon{
    margin-left: 5%;
    color: #aaa;
    margin-top: 1%;
}
